/* No es necesario el CSS personalizado si se utiliza Bootstrap */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #58a1ea; /* Gris oscuro */
    text-align: center;
    padding: 10px 0;
    color: #fff; /* Blanco */
    font-size: 14px;
}
/* Estilos para cuando hay tres gráficas por fila */
@media (min-width: 992px) {
    .col-md-4 {
        flex: 0 0 33.333333%;
        max-width: 33.333333%;
    }
}

/* Estilos para cuando hay dos gráficas por fila */
@media (max-width: 991.98px) {
    .col-md-4 {
        flex: 0 0 50%;
        max-width: 50%;
    }
}

/* Estilos para cuando hay una gráfica por fila */
@media (max-width: 767.98px) {
    .col-md-4 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
